# Core dependencies
streamlit==1.37.0
tensorflow==2.18.0
numpy==1.26.4
Pillow==10.3.0

# For animations and effects
streamlit-lottie==0.0.5
requests==2.32.3

# Optional (nice UI, emojis, progress bars, etc.)
altair==5.3.0
